<footer class="site-footer">
    <img src="https://roxie0strawberry.com/images/6512db23a222dae853435d05_my%20new%20logo2.0-02.png" alt="Roxie logo" style="width:160px;height:80px; margin: 0 auto;">
  <p>© 2024 Roxie0strawberry. All rights reserved.</p>
</footer>