    <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="https://roxie0strawberry.com/images/6512db23a222dae853435d05_my%20new%20logo2.0-02.png" alt="Roxie logo" style="width:160px;height:80px; margin: 0 auto;">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
            <li>
                <a href="https://roxie0strawberry.com">Home</a>
              </li>
            <li>
            <a href="/">Featured Blogs</a>
          </li>
          <li>
            <a href="/blog/">All Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


